## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df =  application_df.drop(labels=["EIN","NAME"], axis=1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df["APPLICATION_TYPE"].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ["T9","T13","T12","T2","T25","T14","T29","T15","T17"]
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df["CLASSIFICATION"].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
for x in range(len(class_count)):
    if class_count.values[x] > 1 :
        print(f'{class_count.index[x]}\t  {class_count.values[x]}')

C1000	  17326
C2000	  6074
C1200	  4837
C3000	  1918
C2100	  1883
C7000	  777
C1700	  287
C4000	  194
C5000	  116
C1270	  114
C2700	  104
C2800	  95
C7100	  75
C1300	  58
C1280	  50
C1230	  36
C1400	  34
C7200	  32
C2300	  32
C1240	  30
C8000	  20
C7120	  18
C1500	  16
C1800	  15
C6000	  15
C1250	  14
C8200	  11
C1238	  10
C1278	  10
C1235	  9
C1237	  9
C7210	  7
C2400	  6
C1720	  6
C4100	  6
C1257	  5
C1600	  5
C1260	  3
C2710	  3
C0	  3
C3200	  2
C1234	  2
C1246	  2
C1267	  2
C1256	  2

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = []
for x in range(len(class_count)):
    if class_count.values[x] < 100 :
#         print(f'{class_count.index[x]}\t  {class_count.values[x]}')
        classifications_to_replace.append(class_count.index[x])


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(application_df,dtype=float)
df_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
X_dummies = df_dummies.drop(["IS_SUCCESSFUL"], axis=1)
y_dummies = df_dummies["IS_SUCCESSFUL"]
                            
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_dummies, random_state=42)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [25]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
idim_count = len(X_train_scaled[0])


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=idim_count))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation='relu'))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                4000

 dense_7 (Dense)             (None, 40)                3240

 dense_8 (Dense)             (None, 20)                820

 dense_9 (Dense)             (None, 10)                210

 dense_10 (Dense)            (None, 1)                 11

=================================================================
Total params: 8,281
Trainable params: 8,281
Non-trainable params: 0
_________________________________________________________________

In [26]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [27]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5773 - accuracy: 0.7173 - val_loss: 0.5460 - val_accuracy: 0.7349
Epoch 2/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5560 - accuracy: 0.7283 - val_loss: 0.5466 - val_accuracy: 0.7357
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5521 - accuracy: 0.7287 - val_loss: 0.5493 - val_accuracy: 0.7357oss: 0.5513 - accuracy
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7304 - val_loss: 0.5482 - val_accuracy: 0.7318
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7310 - val_loss: 0.5404 - val_accuracy: 0.7341
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7330 - val_loss: 0.5450 - val_accuracy: 0.7372
Epoch 7/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7314 - val_loss: 0.5417 - val_accuracy: 0.7370
Epoch 8/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7344 - val_loss: 0.5457 - val_accuracy: 0.7349
Epoch 9/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7324 - val_loss: 0.5403 - val_accuracy: 0.7321
Epoch 10/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7337 - val_loss: 0.5416 - val_accuracy: 0.7365
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7331 - val_loss: 0.5432 - val_accuracy: 0.7334
Epoch 12/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7323 - val_loss: 0.5407 - val_accuracy: 0.7372
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7350 - val_loss: 0.5422 - val_accuracy: 0.7362
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7355 - val_loss: 0.5442 - val_accuracy: 0.7334
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7338 - val_loss: 0.5436 - val_accuracy: 0.7365 - loss: 0.5422 - accuracy - ETA: 0s - loss: 0.5429 - accu
Epoch 16/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7346 - val_loss: 0.5419 - val_accuracy: 0.7385
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7345 - val_loss: 0.5409 - val_accuracy: 0.7362
Epoch 18/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7355 - val_loss: 0.5408 - val_accuracy: 0.7357
Epoch 19/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7356 - val_loss: 0.5420 - val_accuracy: 0.7365
Epoch 20/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7348 - val_loss: 0.5448 - val_accuracy: 0.7326
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7357 - val_loss: 0.5404 - val_accuracy: 0.7375
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7358 - val_loss: 0.5429 - val_accuracy: 0.7370
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7356 - val_loss: 0.5456 - val_accuracy: 0.7344
Epoch 24/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7363 - val_loss: 0.5419 - val_accuracy: 0.7354
Epoch 25/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7377 - val_loss: 0.5412 - val_accuracy: 0.7352
Epoch 26/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7364 - val_loss: 0.5414 - val_accuracy: 0.7365
Epoch 27/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7371 - val_loss: 0.5465 - val_accuracy: 0.7365
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7362 - val_loss: 0.5420 - val_accuracy: 0.7341
Epoch 29/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7370 - val_loss: 0.5427 - val_accuracy: 0.7365
Epoch 30/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7371 - val_loss: 0.5403 - val_accuracy: 0.7385 loss: 0.5
Epoch 31/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7374 - val_loss: 0.5409 - val_accuracy: 0.7391
Epoch 32/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7377 - val_loss: 0.5446 - val_accuracy: 0.7362
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7370 - val_loss: 0.5425 - val_accuracy: 0.7367
Epoch 34/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7368 - val_loss: 0.5406 - val_accuracy: 0.7367
Epoch 35/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7374 - val_loss: 0.5424 - val_accuracy: 0.7362
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7377 - val_loss: 0.5473 - val_accuracy: 0.7357
Epoch 37/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7373 - val_loss: 0.5409 - val_accuracy: 0.7398
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7378 - val_loss: 0.5425 - val_accuracy: 0.7372
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7374 - val_loss: 0.5414 - val_accuracy: 0.7375
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7395 - val_loss: 0.5396 - val_accuracy: 0.7383
Epoch 41/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7387 - val_loss: 0.5444 - val_accuracy: 0.7362
Epoch 42/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7374 - val_loss: 0.5453 - val_accuracy: 0.7344
Epoch 43/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7382 - val_loss: 0.5414 - val_accuracy: 0.7375
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7380 - val_loss: 0.5416 - val_accuracy: 0.7385
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7381 - val_loss: 0.5409 - val_accuracy: 0.7367s: 0.5312
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7379 - val_loss: 0.5419 - val_accuracy: 0.7349 loss: 0.5380 - ac
Epoch 47/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7380 - val_loss: 0.5415 - val_accuracy: 0.7370
Epoch 48/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7382 - val_loss: 0.5412 - val_accuracy: 0.7391
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7383 - val_loss: 0.5455 - val_accuracy: 0.7383
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7371 - val_loss: 0.5460 - val_accuracy: 0.7375
Epoch 51/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7388 - val_loss: 0.5432 - val_accuracy: 0.7380
Epoch 52/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7383 - val_loss: 0.5402 - val_accuracy: 0.7375
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7389 - val_loss: 0.5458 - val_accuracy: 0.7380
Epoch 54/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7380 - val_loss: 0.5432 - val_accuracy: 0.7385
Epoch 55/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7383 - val_loss: 0.5446 - val_accuracy: 0.7357
Epoch 56/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7383 - val_loss: 0.5444 - val_accuracy: 0.7362
Epoch 57/100

684/684 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7390 - val_loss: 0.5451 - val_accuracy: 0.7362
Epoch 58/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7389 - val_loss: 0.5420 - val_accuracy: 0.7375
Epoch 59/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7390 - val_loss: 0.5427 - val_accuracy: 0.7367
Epoch 60/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7383 - val_loss: 0.5442 - val_accuracy: 0.7375
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7382 - val_loss: 0.5441 - val_accuracy: 0.7383
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7380 - val_loss: 0.5470 - val_accuracy: 0.7378
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7378 - val_loss: 0.5434 - val_accuracy: 0.7365
Epoch 64/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7392 - val_loss: 0.5422 - val_accuracy: 0.7359
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7391 - val_loss: 0.5417 - val_accuracy: 0.7372
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5338 - accuracy: 0.7392 - val_loss: 0.5425 - val_accuracy: 0.7383
Epoch 67/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7390 - val_loss: 0.5476 - val_accuracy: 0.7349
Epoch 68/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7383 - val_loss: 0.5434 - val_accuracy: 0.7370: 0s - loss: 0.5300 - accu
Epoch 69/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7390 - val_loss: 0.5443 - val_accuracy: 0.7367
Epoch 70/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7388 - val_loss: 0.5468 - val_accuracy: 0.7357
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7392 - val_loss: 0.5491 - val_accuracy: 0.7354accuracy: 0.
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7386 - val_loss: 0.5455 - val_accuracy: 0.7359
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7399 - val_loss: 0.5439 - val_accuracy: 0.7372
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7394 - val_loss: 0.5469 - val_accuracy: 0.7359
Epoch 75/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5326 - accuracy: 0.7397 - val_loss: 0.5436 - val_accuracy: 0.7367
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7396 - val_loss: 0.5470 - val_accuracy: 0.7367
Epoch 77/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7393 - val_loss: 0.5445 - val_accuracy: 0.7378
Epoch 78/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7405 - val_loss: 0.5442 - val_accuracy: 0.7341
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7389 - val_loss: 0.5464 - val_accuracy: 0.7357
Epoch 80/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7395 - val_loss: 0.5421 - val_accuracy: 0.7370
Epoch 81/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5317 - accuracy: 0.7399 - val_loss: 0.5491 - val_accuracy: 0.7370
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.7401 - val_loss: 0.5456 - val_accuracy: 0.7378
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7400 - val_loss: 0.5464 - val_accuracy: 0.7380
Epoch 84/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5316 - accuracy: 0.7401 - val_loss: 0.5455 - val_accuracy: 0.7367
Epoch 85/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7407 - val_loss: 0.5470 - val_accuracy: 0.7375
Epoch 86/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7405 - val_loss: 0.5464 - val_accuracy: 0.7370
Epoch 87/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5320 - accuracy: 0.7405 - val_loss: 0.5426 - val_accuracy: 0.7375
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7402 - val_loss: 0.5488 - val_accuracy: 0.7383
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5321 - accuracy: 0.7391 - val_loss: 0.5484 - val_accuracy: 0.7365
Epoch 90/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7396 - val_loss: 0.5475 - val_accuracy: 0.7370
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7407 - val_loss: 0.5534 - val_accuracy: 0.7318
Epoch 92/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7401 - val_loss: 0.5486 - val_accuracy: 0.7372
Epoch 93/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7397 - val_loss: 0.5449 - val_accuracy: 0.7380
Epoch 94/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5315 - accuracy: 0.7400 - val_loss: 0.5447 - val_accuracy: 0.7380
Epoch 95/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5311 - accuracy: 0.7403 - val_loss: 0.5465 - val_accuracy: 0.7375
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7399 - val_loss: 0.5491 - val_accuracy: 0.7365
Epoch 97/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7406 - val_loss: 0.5466 - val_accuracy: 0.7365
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.7392 - val_loss: 0.5510 - val_accuracy: 0.7370
Epoch 99/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7406 - val_loss: 0.5509 - val_accuracy: 0.73590s - loss: 0.5295 - accuracy
Epoch 100/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.7409 - val_loss: 0.5476 - val_accuracy: 0.7375

In [28]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
nn.save("ABC.h5")
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5668 - accuracy: 0.7303 - 220ms/epoch - 822us/step
Loss: 0.5667558908462524, Accuracy: 0.7302623987197876

In [16]:
# Export our model to HDF5 file
# nn.save("nn.h5")
f = open("ABC.h5","w",encoding='utf-8')